
header .col-text h2, .col-1 > h3 { line-height: 1.8 }
header.theme-light h1 { color: var(--white-000) }
header.theme-light h2 { color: var(--white-000) }
nav.theme-light,
nav.theme-light ul.links-wrapper.active { background-color: var(--trend-600) }
nav.theme-light ul.links-wrapper li a:link,
nav.theme-light ul.links-wrapper li a:visited { color: var(--white-000) }
nav.theme-light ul.links-wrapper li a:focus,
nav.theme-light ul.links-wrapper li a:hover,
nav.theme-light ul.links-wrapper li a:active { color: var(--pink-600) }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { color: var(--white-000) }
nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { color: var(--white-000) }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { background-color: var(--trend-600) }

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--trend-600) }

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { border-color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { color: var(--trend-600) }

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { border-color: var(--white-000) }

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--white-000) }

nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { border-color: var(--white-000) }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { background-color: var(--pink-600) }
nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { background-color: var(--trend-600) }
header.theme-light { background-color: var(--pink-600) }
header.theme-light .badge { background-color: var(--trend-600) }



.section-selector-1 .col-1 h2 { color: var(--trend-600) }
.section-selector-1 .col-1 h3 { color: var(--trend-600) }
.section-selector-1 .col-3 h3 { color: var(--trend-600) }
.section-selector-1 .col-3 p { color: var(--white-000) }
.section-selector-1 .col-3 li { color: var(--white-000) }
.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { background-color: var(--trend-600) }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { border-color: var(--white-000) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: var(--white-000) }

.section-selector-1.theme-light { background-color: var(--pink-600) }
.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--white-000) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--trend-600) }

.section-selector-1 div[class^='col-'] a[class^='col-']:link, .section-selector-1 div[class^='col-'] a[class^='col-']:visited { text-decoration-color: var(--trend-600) }
.section-selector-1 div[class^='col-'] a[class^='col-']:focus, .section-selector-1 div[class^='col-'] a[class^='col-']:hover, .section-selector-1 div[class^='col-'] a[class^='col-']:active { text-decoration-color: var(--trend-600) }
.section-selector-1 div[class^='col-'] a[class^='col-']:focus, .section-selector-1 div[class^='col-'] a[class^='col-']:hover, .section-selector-1 div[class^='col-'] a[class^='col-']:active { text-decoration-color: var(--white-000) }
.section-selector-1.theme-light .col-3 { border-color: var(--white-000) }


footer.theme-dark > ul.footer-links li a:link,
footer.theme-dark > ul.footer-links li a:visited { color: var(--trend-600) }

footer.theme-dark > ul.footer-links li a:focus,
footer.theme-dark > ul.footer-links li a:hover,
footer.theme-dark > ul.footer-links li a:active { color: var(--white-000) }

footer.theme-dark > ul.footer-icons li a:link i,
footer.theme-dark > ul.footer-icons li a:visited i { color: var(--trend-600) }

footer.theme-dark > ul.footer-icons li a:focus i,
footer.theme-dark > ul.footer-icons li a:hover i,
footer.theme-dark > ul.footer-icons li a:active i { color: var(--white-000) }

footer.theme-dark > h2 { color: var(--trend-600) }
footer.theme-dark > h3 { color: var(--white-000) }
footer.theme-dark .copyright { background-color: var(--trend-600) }
footer.theme-dark .copyright p { color: var(--white-000) }
footer.theme-dark { background-color: var(--pink-600) }


footer.theme-dark > h2{
  font-family: "birthstone";
  font-weight: 400;
  font-style: normal;
}
footer.theme-dark> h3  {
  font-family: "birthstone";
  font-weight: 400;
  font-style: normal;
}

    header h2{
    font-family: "birthstone" sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-thickness: bold;
    color: black
    
  }
  .headline h2 {
    letter-spacing: 5px; /* Adjust as needed */
  }
  

.section-selector-1.theme-light h3{
    font-size: xx-large;
    letter-spacing: 2px;
    font-family: "imperial", "birthstone";
    font-weight: 400;
    font-style: normal,}

.section-selector-1.theme-light { background-color: var(--pink-600) }
.section-selector-1 .col-1 h3 { color: var(--white-000); 
 
}


header.theme-light h2{
  font-family: "roboto"  sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  
  }

.theme-light.section-selector-1 #btn-submit { background-color: var(--trend-600) }
.theme-light.section-selector-1 #btn-submit:focus,
.theme-light.section-selector-1 #btn-submit:hover,
.theme-light.section-selector-1 #btn-submit:active { background-color: var(--white-000) }

.theme-light.section-selector-1 #btn-submit { color: var(--white-000) }
.theme-light.section-selector-1 #btn-submit:focus,
.theme-light.section-selector-1 #btn-submit:hover,
.theme-light.section-selector-1 #btn-submit:active { color: var(--trend-600) }

.theme-light.section-selector-1 #btn-submit:focus,
.theme-light.section-selector-1 #btn-submit:hover,
.theme-light.section-selector-1 #btn-submit:active { border-color: var(--trend-600) }

.theme-light.section-selector-1 #btn-submit { border-color: var(--white-000) }
 

/* Default link and visited state: trend-600 color */
.section-selector-1.theme-light h3 a:link,
.section-selector-1.theme-light h3 a:visited {
  color: var(--trend-600);
  text-decoration: underline;
  text-decoration-color: var(trend 600) ;
}

/* On hover, focus, and active: white color with underline */
.section-selector-1.theme-light h3 a:hover,
.section-selector-1.theme-light h3 a:focus,
.section-selector-1.theme-light h3 a:active {
  color: var(--white-000);
  text-decoration: underline;
  text-decoration-color: var(--white-000);
}

.theme-light .btn-plain:active {
  color: var(--slate-400);
}
.theme-light a:not(.btn):link,
.theme-light a:not(.btn):visited {
  color: var(--trend-600);
}
.theme-light a:not(.btn):focus,
.theme-light a:not(.btn):hover,
.theme-light a:not(.btn):active {
  color: var(--white-000);
}

.theme-dark a:not(.btn):link,
.theme-dark a:not(.btn):visited {
  color: var(--trend-600);
}
.theme-dark a:not(.btn):focus,
.theme-dark a:not(.btn):hover,
.theme-dark a:not(.btn):active {
  color: var(--white-000);
}
a[href*="wa.me"]:hover i {
  color: white !important;
}

.theme-dark a[href*="/legal"],
.theme-dark a[href*="/privacy"] {
  color: var(--trend-600) !important;
}
header.theme-light h2 {
  font-size: calc(var(--font-size-lg) * 0.9);
  line-height: 1.3
}

header.theme-light .container-text h2 {
  font-family: "Roboto", sans-serif;
}